html
{
    padding-top: 70px;
}
#link1 , #link2, #link3, #link4, #link5 , #link6
{
    padding: 20px 15px;
    font-size: 20px;
}
#link7
{
    border: 0px;
}
#course
{
    margin-top: 50px;
}
#upload
{
    padding-left: 15px;
    font-weight: 600;
    border: 0px;
}
#slink
{
    text-align: center;
/*    border: 1px solid black;*/
}